{% extends "homebase.html" %}

{% block title %} {{ car.title }} {% endblock %}
{% block keywords %}{{ car.keywords }}{% endblock %}
{% block description %}{{ car.description }}{% endblock %}

{% block head %}
<link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'/>
{% endblock %}

{% block body %}

<!-- Subhead
================================================== -->
<section id="subintro">

</section>
<section id="breadcrumb">
    <div class="container">
        <div class="row">
            <div class="span12">
                <ul class="breadcrumb notop">
                    <li><a href="/">Anasayfa</a><span class="divider">/</span></li>
                    <li><a href="/category/{{ car.category_id }}/{{ car.category.slug }}/">{{ car.category }}</a><span class="divider">/</span></li>
                    <li class="active">{{ car.title }}</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="maincontent">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="heading">
                    <h4>{{ car.title }}</h4>
                </div>

                <div class="row">
                    <div class="span5">
                        <!-- start flexslider -->
                        <div class="flexslider">
                            <ul class="slides">

                                <li>
                                    <img src="{{ car.image.url }}" alt="" style="height: 300px; width: 500px"/>
                                </li>
                                {% for rs in images%}
                                <li>
                                    <img src="{{ rs.image.url }}" alt="" style="height: 300px; width: 500px"/>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- end flexslider -->
                        <p>
                            {{ car.description | safe }}
                        </p>
                    </div>
                    <div class="span7">
                        <div class="project-widget">
                            <h4><i class="icon-48 icon-beaker"></i> Araç Bilgileri / {{ car.model }}</h4>
                            <ul class="project-detail">
                                <li><label>Marka : </label> {{ car.marka }}</li>
                                <li><label>Model : </label> {{ car.model }}</li>
                                <li><label>Category : </label> {{ car.category }}</li>
                                <li><label>Kişi Kapasitesi : </label> {{ car.kisi_sayisi }}</li>
                                <li><label>Fiyat : </label>{{ car.price }}</li>
                                <form name="reservation" action="/car/addreservation/{{ car.id }}" method="post">
                                    {% csrf_token %}
                                    <!--
                                    Start Hour: <input type="time" id="start_hour" name="start_hour" value="1" style="width: 140px">
                                    -->
                                    Checkin: <input type="date" id="check_in" name="check_in" style="width: 140px" required><br>
                                    Hours: <input type="number" id="hours" name="hours" value="1" style="...">

                                    <input type="submit" value="Reserve Transfer" class="btn btn-success">
                                </form>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- end article full post -->
            </div>
        </div>
        <div class="">
            <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab">Review</a></li>
                <li><a href="#profile" data-toggle="tab">Detail</a></li>

            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="home">
                    <p>
                     {% for rs in comments %}
                    <h5>{{ rs.user.first_name }} {{ rs.user.last_name }}</h5>
                    <h6>{{ rs.subject }} [Rate: {{ rs.rate }}]</h6>
                    {{ rs.comment }}
                    <hr>
                    {% endfor %}
                    {% if user.id is not None %}
                    <H5>Write your comment</H5>

                    {% if messages %}
                    {% for message in messages %}
                    <div class ="alert-alert-{{ mesage.tags }}" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}

                    {% endif %}

                    <form name="comment" action="/car/addcomment/{{ car.id }}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="span3 form-group">
                                <input type="text" class="form-control" id="id_subject" name="subject" placeholder="Subject" data-rule="minlen:4"
                                       data-msg="Please enter at least 8 chars of subject" />
                            </div>
                            <div class="span1 form-group">
                                <div class="span5 form-group">
                                    Rate
                                    <select id="comment_rate" name="rate" class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>
                            <br><br>
                            <br>
                            <div class="span7 form-group">
                                    <textarea class="form-control" id="id_comment" name="comment" maxlength="255" rows="4" data-rule="required" data-msg="Please write something for us" placeholder="Comment">
                                    </textarea>

                                <div class="text-center">
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-color1 btn-rounded" type="submit">Send Comment</button>
                    </form>
                    {% else %}
                    <li>
                        <a href="/login">If you want to add comment please Login</a>
                    </li>
                    {% endif %}
                    </p>
                </div>
                <div class="tab-pane fade" id="profile">
                    <p>
                        {{ car.detail | safe }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}