{% load static %}

<header>
  <!-- Navbar
  ================================================== -->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <!-- logo -->
        <a class="brand logo" href="/"><img src="{% static 'assets/img/resim.png'%}" height="140" width="140" alt=""></a>
        <!-- end logo -->
        <!-- top menu -->

        <div class="navigation">
          <nav>
            <ul class="nav topnav">
              <li class="dropdown active">
                <a href="/">Anasayfa</a>
              </li>
              <li class="dropdown">
                <a href="#">Kategoriler</a>
                <ul class="dropdown-menu">
                  {% load mptt_tags %}
                  {% recursetree category %}
                  <li><a href="/category/{{ node.id }}/{{ node.slug }}">{{ node.title }}</a>

                    {% if not node.is_leaf_node %}
                    <ul class="dropdown-menu sub-menu">
                      <li><a href="/category/{{ node.id }}/{{ node.slug }}">{{ children }}</a></li>
                    </ul>
                    {% endif %}
                  </li>
                  {% endrecursetree %}

                </ul>
              </li>
              <li class="dropdown">
                <a href="/hakkimizda">Hakkımızda</a>
              </li>
              <li class="dropdown">
                <a href="/referanslar">Referanslar</a>
              </li>
              <li class="dropdown">
                <a href="/sss">S.S.S</a>
              </li>
              <li class="dropdown">
                <a href="/iletisim">İletişim</a>
              </li>

              <li class="dropdown">
                {% if user.id is not None %}
                <a href="#"><img alt="image" src="{{ profile.image.url }}" style="height: 19px">
                  {{ user.first_name }}</a>
                {% else %}
                <a href="#">Login/Join</a>
                {% endif %}
                <ul class="dropdown-menu">


                  {% if user.id is not None %}
                  <li class="dropdown">
                    <a href="/user">My Account</a>
                    <a href="/user/reservations">My Reservations</a>
                    <a href="/user/comments">My Comments</a>
                    <a href="/logout">Logout</a>
                  </li>

                  {% else %}
                  <li class="dropdown">
                    <a href="/login/">Login</a>
                    <a href="/signup/">Sign up</a>
                  </li>
                  {% endif %}


                </ul>
              </li>
            </ul>
          </nav>
        </div>
        <!-- end menu -->
      </div>
    </div>
  </div>
</header>