{% extends "homebase.html" %}

{% block title %} İletişim - {{ setting.company }} {% endblock %}
{% block keywords %}{{ setting.keywords }}{% endblock %}
{% block description %}{{ setting.description }}{% endblock %}

{% block head %}
<link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'/>
{% endblock %}

{% block body %}

<!-- Subhead
================================================== -->
<section id="subintro">

</section>
<section id="breadcrumb">
    <div class="container">
        <div class="row">
            <div class="span12">
                <ul class="breadcrumb notop">
                    <li><a href="/">Anasayfa</a><span class="divider">/</span></li>
                    <li class="active">İletişim</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="maincontent">
    <div class="container">
        <div class="row">
            <!-- Subhead
            ================================================== -->
            <div class="span8">
                <aside>
                    <div class="widget">
                        <h4>İletişim Bilgilerimiz</h4>
                        {{setting.contact |safe}}
                    </div>
                    <div class="widget">
                        <h4>Social network</h4>
                        <ul class="social-links">
                            <li><a href="{{ setting.twitter }}" title="Twitter"><i class="icon-rounded icon-32 icon-twitter"></i></a></li>
                            <li><a href="{{ setting.facebook }}" title="Facebook"><i class="icon-rounded icon-32 icon-facebook"></i></a></li>

                        </ul>
                    </div>
                </aside>
            </div>
            <div class="span4">
                <div class="spacer30"></div>

                <div id="sendmessage">Your message has been sent. Thank you!</div>
                <div id="errormessage"></div>

                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}"role="alert">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}

                <h4>İletişim Formu</h4>
                <form action="" method="post" role="form" class="contactForm">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Send Form">
                </form>

            </div>
        </div>
    </div>
</section>


</div>
</div>
</section>

{% endblock %}


{% block content %}

{% endblock %}
