{% load static %}
<section id="intro">
  <div class="jumbotron masthead">
    <div class="container">
      <!-- slider navigation -->
      <div class="sequence-nav">
        <div class="prev">
          <span></span>
        </div>
        <div class="next">
          <span></span>
        </div>
      </div>
      <!-- end slider navigation -->
      <div class="row">
        <div class="span12">
          <div id="slider_holder">
            <div id="sequence">
              <ul>

                <!-- Layer 1 -->
                {% for rs in sliderdata %}
                <li>
                  <div class="info animate-in">
                    <h2>{{ rs.marka }}</h2>
                    <br>
                    <h3>{{ rs.title }}</h3>
                    <p>
                      {{ rs.description | safe }}
                    </p>
                    <a class="btn btn-success" href="/car/{{ rs.id }}/{{ rs.slug }}">Rezervasyon</a>
                  </div>
                  <img class="slider_img animate-in" src="{{ rs.image.url }}" alt="">
                </li>
                {% endfor %}

              </ul>
            </div>
          </div>
          <!-- Sequence Slider::END-->
        </div>
      </div>
    </div>
  </div>
</section>