{% extends "homebase.html" %}

{% block title %} Password Change - {{ profile.user_name }} {% endblock %}
{% block keywords %}{{ setting.keywords }}{% endblock %}
{% block description %}{{ setting.description }}{% endblock %}

{% block head %}
<link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'/>
{% endblock %}

{% block body %}

<!-- Subhead
================================================== -->
<section id="subintro">

</section>
<section id="breadcrumb">
    <div class="container">
        <div class="row">
            <div class="span12">
                <ul class="breadcrumb notop">
                    <li><a href="/">Anasayfa</a><span class="divider">/</span></li>
                    <li class="active">Password Change</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="maincontent">
    <div class="container">
        <div class="row">
            <!-- Subhead
            ================================================== -->
            <div class="span3">
                <aside>
                    {% include "user_panel.html" %}
                </aside>
            </div>
            <div class="span9">
                <aside>
                    <h4>User Update</h4>
                    <div class="content-section">

                        {% if messages %}
                        {% for message in messages %}
                        <div class="well well-primary">
                            {{ message | safe }}
                        </div>
                        {% endfor %}
                        {% endif %}


                        <form method="post">
                            {% csrf_token %}
                            {% for field in form %}
                            <p>
                                {{ field.label_tag }}<br>
                                {{ field }}
                                {% if field.help_text %}
                                <small style="color: grey">{{ field.help_text }}</small>
                                {% endif %}
                                {% for error in field.errors %}
                            <p style="...">{{ error }}</p>
                            {% endfor %}
                            </p>
                            {% endfor %}

                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">Change Password</button>
                            </div>
                        </form>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>


</div>
</div>
</section>

{% endblock %}


{% block content %}

{% endblock %}
